DRIVER_SERVICE_URL=
LOCATION_SERVICE_URL=
ORDER_SERVICE_URL=
DISPATCH_SERVICE_URL=

NUMBER_OF_DRIVERS=
ORDER_INTERVAL_MS=
LOCATION_UPDATE_INTERVAL_MS=

MIN_LATITUDE=
MAX_LATITUDE=
MIN_LONGITUDE=
MAX_LONGITUDE=